<div class="form-group row">
  <label for="ratingInput" class="col col-2 form-control-label">
    Bewertung
  </label>

  <div class="col col-10" [formGroup]="form">
    <input
      id="ratingInput"
      type="range"
      min="0"
      max="5"
      formControlName="kategorie"
    />
  </div>
</div>
