<div class="form-group row">
  <mat-form-field class="col-sm-12 offset-md-2 col-md-8"
    ><mat-label for="isbnInput" class="col col-2 form-control-label">
      Herkunft
    </mat-label>

    <div class="col col-10" [formGroup]="form">
      <input
        matInput
        id="isbnInput"
        placeholder="Username"
        class="form-control"
        autofocus
        formControlName="username"
      />

      <div
        *ngIf="username.invalid && username.touched"
        class="alert alert-danger"
      >
        <div
          *ngIf="
            username.errors &&
            (username.errors.required || username.errors.pattern)
          "
        >
          <i class="material-icons">error</i>
          <span class="ml-1">
            Ein g&uuml;ltiger Username
          </span>
        </div>
      </div>
    </div>
  </mat-form-field>
</div>
