<form [formGroup]="form" role="form">
  <hs-update-nachname [form]="form" [currentValue]="kunde.nachname">
  </hs-update-nachname>
  <hs-update-geschlecht [form]="form" [currentValue]="kunde.geschlecht">
  </hs-update-geschlecht>
  <hs-update-username [form]="form" [currentValue]="kunde.username">
  </hs-update-username>

  <div class="form-group row">
    <div class="col offset-2">
      <button
        mat-raised-button
        type="submit"
        color="primary"
        class="btn btn-primary"
        (click)="onUpdate()"
        [disabled]="form.pristine || form.invalid"
      >
        <i class="material-icons">check</i>
        <span class="ml-1">Update</span>
      </button>
    </div>
  </div>
</form>
