<div class="form-group row">
  <label class="col col-2 form-control-label">Interessen</label>

  <div class="col col-10" [formGroup]="form">
    <select class="form-control" formControlName="interessen">
      <option value="S">Sport</option>
      <option value="L">Lesen</option>
      <option value="R">Reisen</option>
    </select>
  </div>
</div>
