<div
  class="form-group row"
  [class.has-danger]="nachname.invalid && nachname.touched"
>
  <mat-form-field class="col-sm-12 offset-md-2 col-md-8">
    <mat-label for="titelInput" class="col col-2 form-control-label"
      >Name</mat-label
    >

    <div class="col col-10" [formGroup]="form">
      <input
        matInput
        id="titelInput"
        placeholder="Name"
        autofocus
        formControlName="nachname"
        [class.border-danger]="nachname.invalid && nachname.touched"
      />

      <div
        *ngIf="nachname.invalid && nachname.touched"
        class="alert alert-danger"
      >
        <i class="material-icons">error</i>
        <div *ngIf="nachname.errors && nachname.errors.required">
          <span class="ml-1">Ein Buchtitel muss eingegeben werden.</span>
        </div>
        <div *ngIf="nachname.errors && nachname.errors.minlength">
          <span class="ml-1">
            Ein Nachname muss mindestens 2 Zeichen lang sein.
          </span>
        </div>
        <div *ngIf="nachname.errors && nachname.errors.pattern">
          <span class="ml-1">
            Ein Nachname muss mit einem Buchstaben oder einer Ziffer beginnen.
          </span>
        </div>
      </div>
    </div>
  </mat-form-field>
</div>
