<div class="form-group row col offset-md-2 col-12 col-xs-3 col-md-2">
  <mat-form-field appearance="fill">
    <mat-label class="col col-2 form-control-label">Pflanzentyp *</mat-label>

    <div class="col col-10" [formGroup]="form">
      <mat-select formControlName="geschlecht">
        <mat-option value="W">Balkonpflanze</mat-option>
        <mat-option value="M">Zimmerpflanze</mat-option>
      </mat-select>
    </div>
  </mat-form-field>
</div>
