@import "../../sass/colors";

// Vorsicht bei CSS-Selektoren: Namespaces, um Kollisionen zu vermeiden
.hs-nav {
  background-position: left top;
  background-repeat: repeat-x;
  border-bottom: 1px solid black;
  // display: block;
}

// wird nicht benutzt
.router-link-active {
  font-stretch: expanded;
  font-style: italic;
  font-weight: bold;
}
