<nav class="navbar navbar-expand-md navbar-light bg-faded hs-nav">
  <hs-logo class="navbar-brand"></hs-logo>

  <button
    mat-raised-button
    type="submit"
    color="primary"
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <hs-nav class="collapse navbar-collapse" id="navbarCollapse"></hs-nav>
</nav>
