<form
  (submit)="onLogin()"
  class="row row-cols-md-auto g-3 align-items-center"
  autocomplete="off"
  role="form"
  *ngIf="notLoggedIn; else loggedIn"
>
  <mat-form-field class="marginright">
    <mat-label for="usernameInput" class="form-control-label">
      <small>Benutzername</small>
    </mat-label>
    <input
      matInput
      id="usernameInput"
      type="search"
      class="form-control form-control-sm ml-2"
      tabindex="1"
      autocomplete="off"
      required
      [(ngModel)]="username"
      name="username"
    />
  </mat-form-field>
  <mat-form-field class="marginright">
    <mat-label for="passwordInput" class="form-control-label ml-3">
      <small>Passwort</small>
    </mat-label>
    <input
      matInput
      id="passwordInput"
      type="password"
      class="form-control form-control-sm ml-2"
      tabindex="2"
      autocomplete="off"
      required
      [(ngModel)]="password"
      name="password"
    />
  </mat-form-field>

  <button
    mat-raised-button
    type="submit"
    color="primary"
    class="btn btn-indigo btn-sm ml-3"
    tabindex="3"
  >
    Login
  </button>
</form>

<ng-template #loggedIn>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    class="btn btn-indigo"
    (click)="onLogout()"
  >
    <span class="mr-1">Logout</span>
    <i class="material-icons md-48">chevron_right</i>
  </button>
</ng-template>
