<div class="logogogogo">
  <div class="logo-header">
    <a routerLink="/" aria-label="Startseite">
      <img src="/assets/img/ps-logo.png" alt="Logo" height="60" width="80" />
    </a>
  </div>
  <div class="logo-header"><h1 class="b">PlantShop 🌻</h1></div>
</div>
