<!--
    Internationalisierung durch z.B. https://github.com/ocombe/ng2-translate
-->

<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a
      routerLink="/pflanzen/suche"
      routerLinkActive="active"
      class="nav-link"
      aria-label="Suche Kunden"
    >
      <i class="material-icons">search</i>
      <span class="ml-1">Suche</span>
    </a>
  </li>

  <li class="nav-item" *ngIf="isAdmin">
    <a
      routerLink="/pflanzen/create"
      class="nav-link"
      aria-label="Neues Kunde anlegen"
    >
      <i class="material-icons">eco</i>
      <span class="ml-1">Neue Pflanze</span>
    </a>
  </li>

  <li class="nav-item dropdown" *ngIf="isAdmin">
    <div
      class="nav-link dropdown-toggle"
      id="navbarDropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="material-icons">bar_chart</i>
      <span class="ml-1">Diagramme</span>
    </div>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a
        routerLink="/kunden/balkendiagramm"
        class="dropdown-item"
        aria-label="Balkendiagramm fuer Bewertungen"
      >
        <i class="material-icons">bar_chart</i>
        <span class="ml-1">Balkendiagramm</span>
      </a>
      <a
        routerLink="/kunden/liniendiagramm"
        class="dropdown-item"
        aria-label="Liniendiagramm fuer Bewertungen"
      >
        <i class="material-icons">multiline_chart</i>
        <span class="ml-1">Liniendiagramm</span>
      </a>
      <a
        routerLink="/kunden/tortendiagramm"
        class="dropdown-item"
        aria-label="Tortendiagramm fuer Bewertungen"
      >
        <i class="material-icons">pie_chart</i>
        <span class="ml-1">Tortendiagramm</span>
      </a>
    </div>
  </li>
</ul>
<hs-login-logout></hs-login-logout>
