<div class="row mt-2">
  <label class="col col-1"> Lieferbar? </label>
  <div class="col col-11">
    <input
      type="checkbox"
      checked
      class="checkbox"
      *ngIf="newsletter; else nichtLieferbar"
    />
    <ng-template #nichtLieferbar>
      <input type="checkbox" disabled class="checkbox" />
    </ng-template>
  </div>
</div>
