<div class="row mt-2">
  <label class="col col-1"> Rabatt </label>
  <div class="col col-11">
    <!-- {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits} -->
    <!-- default: 1.0-3 -->
    <!-- siehe number_pipe.ts -->
    {{ rabatt | percent: ".2" }}
  </div>
</div>
