<div class="row mt-2">
  <label class="col col-1"> Versandart </label>
  <div class="col col-11">
    <span [ngSwitch]="geschlecht">
      <span *ngSwitchCase="'W'">Versand</span>
      <span *ngSwitchCase="'M'">Out of Stock</span>
      <span *ngSwitchDefault>unbekannt</span>
    </span>
  </div>
</div>
