<div *ngIf="kunde">
  <hs-details-nachname [nachname]="kunde.nachname"></hs-details-nachname>
  <hs-details-username [username]="kunde.username"></hs-details-username>
  <hs-details-geschlecht
    [geschlecht]="kunde.geschlecht"
  ></hs-details-geschlecht>
  <hs-details-email [email]="kunde.email"></hs-details-email>
  <hs-details-adresse [ort]="kunde.adresse.plz + ' ' + kunde.adresse.ort">
  </hs-details-adresse>
  <hs-details-newsletter
    [newsletter]="kunde.newsletter"
  ></hs-details-newsletter>
</div>
