<!-- Template Binding durch die Direktive ngIf -->
<!-- Eine Direktive ist eine Komponente ohne View -->

<section class="mt-2" aria-label="Suchergebnis">
  <hs-waiting *ngIf="waiting; else suchergebnis"></hs-waiting>

  <ng-template #suchergebnis>
    <div
      class="card"
      aria-label="Gefundene Kunden"
      *ngIf="kunden.length; else showErrorMsg"
    >
      <div class="card-header">
        <i class="material-icons">folder_open</i>
        <span class="ml-1 font-weight-bold">Gefundene Pflanzen</span>
      </div>
      <div class="card-body">
        <table
          class="table table-striped table-hover table-responsive"
          [@easeIn]="'in'"
        >
          <thead class="thead-default">
            <tr>
              <th>Nr.</th>
              <th>ID</th>
              <th>Herkunft</th>
              <th>Name</th>
              <th>Versandart</th>
              <th>
                <span class="sr-only">Spalte f&uuml;r Details</span>
              </th>
              <th *ngIf="isAdmin">
                <span class="sr-only">Spalte f&uuml;r Entfernen</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <!-- Template Binding: ngFor -->
            <!-- Event-Binding: statt (click) auch on-click -->
            <!-- ts als Komponente: https://stackoverflow.com/questions/34556277/angular2-table-rows-as-component -->
            <tr
              *ngFor="let b of kunden; index as i"
              (click)="onClick(b)"
              [@easeOut]="'in'"
            >
              <td>{{ i + 1 }}</td>
              <td>{{ b._id }}</td>
              <td>{{ b.username }}</td>
              <td>{{ b.nachname }}</td>

              <td>
                <span *ngFor="let ints of b.interessen">
                  <span [ngSwitch]="ints">
                    <span *ngSwitchCase="'L'"> Selbstabholung <br /> </span>
                    <span *ngSwitchCase="'R'"> Out of Stock <br /> </span>
                    <span *ngSwitchCase="'S'"> Versand <br /> </span>
                    <span *ngSwitchCase="null"> Out of Stock <br /> </span>
                  </span>
                </span>
              </td>
              <td>
                <!-- Pfad detailsBuch/:id, in routes.ts -->
                <!-- modaler Dialog als Alternative: -->
                <!--
                                        https://getbootstrap.com/docs/4.0/components/modal
                                    -->
                <a [routerLink]="['..', b._id]" title="Details anzeigen">
                  <i class="material-icons">search</i>
                </a>
              </td>
              <td *ngIf="isAdmin">
                <span (click)="onRemove(b)" title="Entfernen">
                  <i class="material-icons">delete</i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <div>
          <i class="material-icons">info</i>
          <span class="ml-1" [ngPlural]="kunden.length">
            <!-- zu vergleichender Ausdruck -->
            <ng-template ngPluralCase="=0">
              Es gibt keine Pflanzen
            </ng-template>
            <ng-template ngPluralCase="=1"> Es gibt eine Pflanze </ng-template>
            <ng-template ngPluralCase="other">
              Es gibt {{ kunden.length }} Pflanzen
            </ng-template>
          </span>
        </div>
      </div>
    </div>

    <!-- Ausgabe im Webbrowser statt console.log(...) -->
    <!-- <pre>{{kunden | json}}</pre> -->

    <ng-template #showErrorMsg>
      <hs-error-message [text]="errorMsg"></hs-error-message>
    </ng-template>
  </ng-template>
</section>
