<section *ngIf="kunde">
  <h4>Pflanze {{ kunde._id }}:</h4>

  <ul class="nav nav-tabs" id="kundeUpdate">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="stammdaten-update-tab"
        href="#stammdaten"
        data-toggle="tab"
        role="tab"
        aria-controls="stammdaten"
        aria-expanded="true"
      >
        Stammdaten
      </a>
    </li>
  </ul>

  <div class="tab-content" id="kundeUpdateContent">
    <div
      class="tab-pane fade show active"
      id="stammdaten"
      role="tabpanel"
      aria-labelledby="stammdaten-tab"
    >
      <div class="mt-1">
        <hs-update-stammdaten [kunde]="kunde"> </hs-update-stammdaten>
      </div>
    </div>
  </div>
</section>

<hs-error-message [text]="errorMsg"></hs-error-message>
