// "Partial" Datei als Hilfsdatei fuer @Import, d.h. Wiederverwendung

$primary: rgb(1 50 32);
$lime: rgb(30 180 70);
$darkgreen: rgb(0 100 0);

$red: rgb(217 28 13);

$black: black;

$background-color: $lime;
