@import "./app/sass/colors";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $lime;
}

.lime {
  background-color: $lime !important;
}

.marginright {
  margin-right: 5px;
}
fadedbutton {
  background-color: rgb(97, 184, 120);
}

.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle {
  border-color: $darkgreen;
}
.hs-nav-init {
  background-color: $background-color;
  background-position: left top;
  background-repeat: repeat-x;
  height: 60px;
  width: 100%;
}

.logogogogo {
  border-right: 1px solid black;
  display: flex;
}

.logo-header {
  margin: auto 10px;
}

.example-form {
  max-width: 500px;
  min-width: 150px;
  width: 100%;
}

body {
  overflow: hidden;
}

.row > * {
  padding-right: 1px;
}

.col-2 {
  width: 100px;
}

.example-full-width {
  width: 100%;
}

/* latin-ext */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2");
}

html,
body {
  height: 100%;
}

.mat-radio-button.mat-primary .mat-radio-inner-circle,
.mat-radio-button.mat-primary
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-primary.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-primary:active .mat-radio-persistent-ripple {
  background-color: $lime;
}

body {
  margin: 0;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-radio-outer-circle {
  border-color: $black;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  align-content: center;
  align-items: center;
  display: flex;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.mat-checkbox .mat-checkbox-frame {
  border-color: $black;
}

/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $lime;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-checkbox-inner-container .mat-checkbox-frame {
  border: 1px solid;
}

.mat-checkbox-label label {
  margin-bottom: 0px;
}

.release-date-margin {
  margin-left: 17px;
}

.release-date-margin-m {
  margin-left: 12px !important;
}

.mat-form-field-appearance-legacy
  .mat-form-field-prefix
  .mat-datepicker-toggle-default-icon,
.mat-form-field-appearance-legacy
  .mat-form-field-suffix
  .mat-datepicker-toggle-default-icon {
  width: 2rem !important;
  height: 2rem;
  color: black;
  margin-bottom: 10px;
}

.card-body .form-control-label,
.card-body .header {
  padding-left: 0;
}

.mat-form-field-empty.mat-form-field-label {
  color: #222831;
}

.mat-hint {
  color: #222831;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: $lime !important;
}

.mat-form-field-appearance-standard .mat-form-field-underline {
  background-color: #222831;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $lime;
  height: 1px;
}

.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background,
.mat-checkbox-checked.mat-primary .mat-checkbox-background {
  background-color: $lime;
}

.lime {
  background-color: rgba(30, 180, 70, 100);
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: $primary;
}

.textetet {
  color: white;
  background-color: $lime;
}
.card .bg-primary {
  background-color: $primary !important;
}

.delete-icon-md {
  cursor: pointer !important;
}

.mat-body.mat-body-1 {
  font-size: 1.2rem;
}

.mat-radio-group {
  display: flex;
}

.header {
  font-size: 1rem;
}

.mat-radio-outer-circle {
  border-width: 1px !important;
}

.imgSrcLogo {
  padding-right: 20px;
  border-right: 1px solid black;
}

.navbar-light .navbar-toggler {
  background-color: white !important;
  border-color: black !important;
}

.col {
  margin-top: 25px;
  width: auto !important;
}

.col-md-3 {
  padding-left: 0 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $lime;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $lime;
}

.mat-button-wrapper {
  color: #eeeeee;
}

.mat-button-base {
  width: 10rem;
  height: 3rem;
}

.mat-body {
  color: #eeeeee;
}

.form-group .col .btn-primary:hover {
  color: #fff;
  background-color: $darkgreen;
  border-color: $darkgreen;
}

.form-group .col .btn-primary:not(:disabled):not(.disabled):active,
.form-group .col .btn-primary:not(:disabled):not(.disabled):focus,
.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary,
.btn-primary:hover {
  color: #fff !important;
  background-color: $darkgreen !important;
  border-color: $darkgreen !important;
  box-shadow: none !important;
}

.passwordInputButton {
  width: 104px !important;
  height: 38px !important;
}

.passwordInputButtonLogout {
  display: flex !important;
}

.bg-primary .material-icons {
  color: #eee;
}

.navbar-light .navbar-nav .nav-link {
  color: black !important;
}

.material-icons {
  width: 24px;
}

@media (max-width: 768px) {
  .col {
    margin-top: 10px;
  }
}

.tetetete {
  color: white;
}
