<title>PlantShop home</title>
<h1
  id="headerHome"
  class="mat-display-1"
  i18n="Greetings|Greetings at the home page header@@homeHeader"
>
  Hello, welcome to the PlantShop!
</h1>
<i class="material-icons">
  home
</i>
