<label class="col offset-md-2 col-12 form-control-label header">
  Lieferbar?
</label>
<div class="form-group row offset-md-2">
  <div class="col col-12 col-xs-3 col-md-2">
    <div class="checkbox">
      <mat-checkbox id="lieferbarInput" formControlName="lieferbar">
      </mat-checkbox>
    </div>
  </div>
</div>
