<div class="form-group row">
  <label for="datumInput" class="col col-2 form-control-label">
    Geburtsdatum
  </label>

  <div class="col col-10" [formGroup]="form">
    <input
      id="datumInput"
      class="form-control"
      type="date"
      formControlName="geburtsdatum"
    />
  </div>
</div>
