<mat-label class="col offset-md-2 col-12 form-control-label header"
  >Pflanzentyp</mat-label
>
<div class="form-group row offset-md-2">
  <mat-radio-group class="col-12" aria-label="Select an option">
    <div class="col col-xs-3 col-md-3 marginright">
      <div class="radio">
        <mat-radio-button
          type="radio"
          id="gartenpflanzeInput"
          formControlName="pflanzentyp"
          name="pflanzentyp"
          value="GARTENPFLANZE"
        >
        </mat-radio-button>
        <mat-label class="radio-inline ml-2" for="gartenpflanzeInput">
          Balkonpflanze
        </mat-label>
      </div>
    </div>
    <div class="col col-xs-3 col-md-3">
      <div class="radio">
        <mat-radio-button
          type="radio"
          id="zimmerpflanzeInput"
          formControlName="pflanzentyp"
          name="pflanzentyp"
          value="ZIMMERPFLANZE"
        >
        </mat-radio-button>
        <mat-label class="radio-inline ml-2" for="zimmerpflanzeInput">
          Zimmerpflanze
        </mat-label>
      </div>
    </div>
  </mat-radio-group>
</div>
