<div class="form-group row">
  <mat-form-field appearance="standard" class="col-sm-12 offset-md-2 col-md-8">
    <mat-label for="titelInput" class="col col-2 form-control-label">
      Name
    </mat-label>

    <input
      matInput
      id="titelInput"
      placeholder="Name"
      autofocus
      required
      formControlName="nachname"
      [class.border-danger]="nachname.invalid && nachname.touched"
    />
    <mat-hint>z. B. Monstera</mat-hint>
  </mat-form-field>

  <div *ngIf="nachname.invalid && nachname.touched" class="alert alert-danger">
    <div *ngIf="nachname.errors && nachname.errors.required">
      <i class="material-icons">error</i>
      <span class="ml-1"
        >Ein Name muss eingegeben werden, z.B. Klaus Kleber</span
      >
    </div>
  </div>
</div>
