<mat-label
  for="schlagwoerterInput"
  class="col offset-md-2 col-12 form-control-label header"
>
  Schlagwörter
</mat-label>
<div class="form-group row offset-md-2">
  <div class="col col-xs-3 col-md-3 marginright" [formGroup]="form">
    <div class="checkbox">
      <mat-checkbox
        type="checkbox"
        id="mittelInput"
        color="primary"
        name="mittel"
      >
        <mat-label for="mittelInput" class="ml-1">
          Immergrün
        </mat-label></mat-checkbox
      >
    </div>

    <div class="checkbox">
      <mat-checkbox type="checkbox" id="asd" color="primary" name="test">
        <mat-label for="asd" class="ml-1">
          Blühend
        </mat-label></mat-checkbox
      >
    </div>
  </div>
</div>
