<div class="form-group row">
  <label class="col col-2 form-control-label">Kategorie</label>
  <div class="col col-10" [formGroup]="form">
    <select class="form-control" formControlName="kategorie">
      <option value="">Bewertung ausw&auml;hlen</option>
      <optgroup label="Hoch"> <option value="5">5</option> </optgroup>
      <optgroup label="Mittel">
        <option value="4">4</option> <option value="3">3</option>
      </optgroup>
      <optgroup label="Niedrig">
        <option value="2">2</option> <option value="1">1</option>
      </optgroup>
    </select>
  </div>
</div>
