<div class="form-group row">
  <div class="col col-10" [formGroup]="form">
    <div class="col-sm-12 offset-md-2 col-md-9">
      <mat-form-field appearance="fill">
        <mat-label class="">Versandart</mat-label>
        <mat-select
          formControlName="interessen"
          required
          [class.border-danger]="interessen.invalid && interessen.touched"
        >
          <mat-option value="">Selbstabholung</mat-option>
          <mat-option value="SPORT">Versand</mat-option>
          <mat-option value="LESEN">Out of Stock</mat-option>
        </mat-select>
      </mat-form-field>
      <div
        *ngIf="interessen.invalid && interessen.touched"
        class="alert alert-danger"
      >
        <div *ngIf="interessen.errors && interessen.errors.required">
          <i class="material-icons">error</i>
          <span class="ml-1"> Eine Versandart ist erforderlich. </span>
        </div>
      </div>
    </div>
  </div>
</div>
