<div class="form-group row">
  <mat-form-field appearance="standard" class="col-sm-12 offset-md-2 col-md-8">
    <mat-label for="titelInput" class="col col-2 form-control-label">
      Rabatt
    </mat-label>

    <input
      matInput
      id="titelInput"
      placeholder="Name"
      autofocus
      formControlName="nachname"
    />
    <mat-hint>z. B. 1,23</mat-hint>
  </mat-form-field>
</div>
