<div class="card">
  <div class="card-header lime">
    <span class="ml-1 font-weight-bold lime tetetete">Neue Pflanze</span>
  </div>

  <div class="card-body">
    <!--
            Template-Syntax:
               [formGroup]="form"  fuer Input = Property Binding
                                   d.h. formGroup fuer Attr. form
               (submit)="save()"  fuer Output = Event Binding
                                  d.h. Ereignis submit an save() anbinden
                                  oder on-submit="save"
               Definition von Attributnamen gemaess HTML: Attribute names
               must consist of one or more characters other than the
               space characters, U+0000 NULL, """, "'", ">", "/", "=",
               the control characters, and any characters that are not
               defined by Unicode.
               https://github.com/angular/angular/issues/6786
        -->
    <!-- dynamisches Formular durch formGroup -->
    <form [formGroup]="form" role="form">
      <div class="form-group row has-warning mb-4" *ngIf="showWarning">
        <div class="col col-12 form-control-feedback">
          <span class="alert alert-warning">
            <i class="material-icons">warning</i>
            <strong class="text-help ml-1">
              Wenn Sie die Seite jetzt verlassen, verlieren Sie Ihre
              eingegebenen Daten.
            </strong>
          </span>
        </div>
      </div>

      <hs-create-nachname [form]="form"></hs-create-nachname>
      <hs-create-umsatz [form]="form"></hs-create-umsatz>
      <hs-create-rabatt [form]="form"></hs-create-rabatt>
      <hs-create-interessen [form]="form"></hs-create-interessen>
      <hs-create-username [form]="form"></hs-create-username>
      <hs-create-newsletter [form]="form"></hs-create-newsletter>
      <hs-create-geschlecht [form]="form"></hs-create-geschlecht>
      <hs-create-schlagwoerter [form]="form"></hs-create-schlagwoerter>

      <div class="form-group row">
        <div class="col offset-2">
          <!--
                        Template-Syntax:
                           (click)="onSave()" fuer Output = Event Binding
                                              d.h. Ereignis click an onSave() anbinden
                                              oder on-click="onSave"
                           [disabled]="..." fuer Input = Property Binding
                    -->
          <button
            mat-raised-button
            type="submit"
            color="primary"
            class="btn btn-indigo fadedbutton"
            (click)="onSave()"
          >
            <i class="material-icons">check</i>
            <span class="ml-1">Jetzt anlegen</span>
          </button>
        </div>
      </div>
    </form>

    <small>* sind Pflichtfelder</small>
  </div>
</div>

<div class="mt-3">
  <hs-error-message [text]="errorMsg"></hs-error-message>
</div>
