<div class="form-group row">
  <mat-form-field appearance="standard" class="col-sm-12 offset-md-2 col-md-8">
    <mat-label for="preisInput" class="col col-2 form-control-label">
      Preis
    </mat-label>

    <input
      matInput
      id="preisInput"
      placeholder="123.45"
      required
      type="number"
      formControlName="umsatz"
      [class.border-danger]="umsatz.invalid && umsatz.touched"
    />
    <mat-hint>z.B. 123.45</mat-hint>
  </mat-form-field>

  <div *ngIf="umsatz.invalid && umsatz.touched" class="alert alert-danger">
    <div *ngIf="umsatz.errors && umsatz.errors.required">
      <i class="material-icons">error</i>
      <span class="ml-1">Ein Preis muss eingegeben werden, z.B. 123.45</span>
    </div>
  </div>
</div>
