<div class="form-group row">
  <mat-form-field appearance="standard" class="col-sm-12 offset-md-2 col-md-8">
    <mat-label class="header">Artikelnummer</mat-label>
    <input
      matInput
      id="usernameInput"
      placeholder="Artikelnummer, z.B. 3-89722-583-2"
      required
      minlength="2"
      formControlName="username"
      [class.is-invalid]="username.invalid && username.touched"
      [class.is-valid]="username.valid && username.touched"
    />
    <mat-hint>z. B. 3-89722-583-2</mat-hint>
  </mat-form-field>

  <div
    *ngIf="username.invalid && username.touched"
    class="invalid-feedback"
  ></div>
</div>
