<div class="form-group row" *ngFor="let schlagwort of values">
  <div class="col col-11">
    <div class="checkbox">
      <input type="checkbox" checked disabled class="checkbox" />
      <label class="ml-2" [ngSwitch]="schlagwort">
        <span *ngSwitchCase="'JAVASCRIPT'">JavaScript</span>
        <span *ngSwitchCase="'TYPESCRIPT'">TypeScript</span>
      </label>
    </div>
  </div>
</div>
