<hs-waiting *ngIf="waiting; else details"></hs-waiting>

<ng-template #details>
  <hs-details-breadcrumbs></hs-details-breadcrumbs>

  <section class="mt-1" *ngIf="kunde; else showErrorMsg">
    <h4>Pflanze {{ kunde._id }}:</h4>

    <!-- https://getbootstrap.com/docs/4.0/components/navs/#tabs -->
    <!-- jQuery erfordert id -->
    <ul class="nav nav-tabs mt-1" id="kundeDetails">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="stammdaten-tab"
          href="#stammdaten"
          data-toggle="tab"
          role="tab"
          aria-controls="stammdaten"
          aria-expanded="true"
        >
          Stammdaten
        </a>
      </li>
    </ul>

    <div class="tab-content" id="kundeContent">
      <div
        class="tab-pane fade show active"
        id="stammdaten"
        role="tabpanel"
        aria-labelledby="stammdaten-tab"
      >
        <div class="mt-2">
          <hs-details-stammdaten [kunde]="kunde"> </hs-details-stammdaten>
        </div>
      </div>

      <div class="tab-pane fade" role="tabpanel">
        <div class="mt-2"></div>
      </div>
    </div>

    <hs-details-bearbeiten [id]="kunde._id" *ngIf="isAdmin">
    </hs-details-bearbeiten>
  </section>

  <ng-template #showErrorMsg>
    <hs-error-message [text]="errorMsg"></hs-error-message>
  </ng-template>
</ng-template>
