<div class="breadcrumb">
  <span class="breadcrumb-item">
    <a routerLink="/" aria-label="Startseite">Startseite</a>
  </span>
  <span class="breadcrumb-item">
    <a routerLink="/pflanzen/suche" aria-label="Kunden suchen"
      >Suche Pflanzen</a
    >
  </span>
  <span class="breadcrumb-item active">Details</span>
</div>
