<div class="mt-4">
  <a
    [routerLink]="['..', id, 'update']"
    class="ml-1"
    aria-label="Kunde bearbeiten"
  >
    <i class="material-icons">edit</i>
    <span class="ml-1">Bearbeiten</span>
  </a>
</div>
