<div class="form-group row">
  <mat-label class="col col-2">
    Schlagwörter
  </mat-label>
  <div class="col col-10">
    <div class="checkbox">
      <mat-checkbox
        type="checkbox"
        id="javaScriptInput"
        color="primary"
        [(ngModel)]="javascript"
        name="javascript"
      >
        <mat-label for="javaScriptInput" class="ml-1">
          Balkonpflanze
        </mat-label></mat-checkbox
      >
    </div>
    <div class="checkbox">
      <mat-checkbox
        type="checkbox"
        id="typescriptInput"
        color="primary"
        [(ngModel)]="typescript"
        name="typescript"
      >
        <mat-label for="typescriptInput" class="ml-1">
          Zimmerpflanze
        </mat-label></mat-checkbox
      >
    </div>
  </div>
</div>
