<!--
    Bootstrap:
        (xs):    -  480px ("extra small")
        sm:      -  767px ("small")
        md:  768 -  991px ("medium")
        lg:  992 - 1199px ("large")
        xl: 1200 px       ("extra large")
    CSS-Klassen von Bootstrap:
        card-..., form-..., row, btn, bg-primary, ...
        https://getbootstrap.com/docs/4.0/components/forms
-->

<div class="form-group row">
  <mat-form-field appearance="standard" class="col-sm-12 offset-md-2 col-md-8">
    <mat-label for="titelInput" class="col col-2 form-control-label">
      Herkunft
    </mat-label>

    <input
      matInput
      id="titelInput"
      placeholder="Von wo stammt die gesuchte Pflanze?"
      [(ngModel)]="email"
      name="titel"
    />
    <mat-hint>z. B. Karlsruhe</mat-hint>
  </mat-form-field>
</div>
