<div class="form-group row">
  <mat-radio-group class="col-12" aria-label="Select an option"
    ><mat-label class="col col-2 form-control-label">Pflanzentyp</mat-label>
    <div class="col col-10">
      <div class="radio">
        <mat-radio-button
          type="input"
          id="druckausgabeInput"
          [(ngModel)]="geschlecht"
          name="geschlecht"
          value="WEIBLICH"
        ></mat-radio-button>
        <!-- margin left -->
        <mat-label class="radio-inline ml-1" for="druckausgabeInput">
          Einjährige Pflanze
        </mat-label>
      </div>

      <div class="radio">
        <mat-radio-button
          type="input"
          id="kindleInput"
          [(ngModel)]="geschlecht"
          name="geschlecht"
          value="MAENNLICH"
        ></mat-radio-button>
        <mat-label class="radio-inline ml-1" for="kindleInput">
          Mehrjährige Pflanze
        </mat-label>
      </div>
    </div>
  </mat-radio-group>
</div>
