<section class="card" [@fadeIn]="'in'">
  <div class="card-header bg-indigo lime">
    <i class="material-icons">search</i>
    <span class="ml-1 font-weight-bold tetetete">
      Eingabe der Suchkriterien
    </span>
  </div>
  <div class="card-body">
    <!--
            Bootstrap:
                (xs):    -  480px ("extra small")
                sm:      -  767px ("small")
                md:  768 -  991px ("medium")
                lg:  992 - 1199px ("large")
                xl: 1200 px       ("extra large")
            CSS-Klassen von Bootstrap:
                card-..., form-..., row, btn, bg-primary, ...
                https://getbootstrap.com/docs/4.0/components/forms
        -->

    <!--
            Formulare zur Interaktion mit dem Endbenutzer:
            * Daten werden modifiziert, z.B. in Suchfelder oder
              Erfassungs-/Aenderungsformularen
            * Aenderungen wirken sich auf Teile der Seite aus:
              Ergebnisse/Fehler anzeigen, Navigationsmoeglichkeiten
            * Eingaben werden validiert

            Template-Syntax:, z.B. (submit)="onFind()" fuer Output (= Event Binding)
            d.h. Angular registriert einen "DOM Event Listener" fuer das Ereignis
            "submit" und ruft die Methode onFind() der Komponentenklasse,
            wenn das Ereignis eintritt.

            Definition von Attributnamen gemaess HTML: Attribute names must
            consist of one or more characters other than the space characters,
            U+0000 NULL, """, "'", ">", "/", "=", the control characters,
            and any characters that are not defined by Unicode.
        -->

    <form (submit)="onFind()" role="form">
      <hs-suche-nachname></hs-suche-nachname>
      <hs-suche-email></hs-suche-email>
      <hs-suche-interessen></hs-suche-interessen>
      <hs-suche-schlagwoerter></hs-suche-schlagwoerter>
      <hs-suche-geschlecht></hs-suche-geschlecht>

      <div class="form-group row">
        <div class="col offset-2">
          <i class="material-icons">info</i>
          <!-- margin left -->
          <span class="ml-1">
            Hinweis: Keine Eingabe liefert alle Pflanzen
          </span>
        </div>
      </div>

      <div class="form-group row">
        <div class="col offset-2">
          <!-- default: type="submit" -->
          <button
            mat-raised-button
            type="submit"
            color="primary"
            class="btn btn-primary"
          >
            <i class="material-icons">search</i>
            <span class="ml-1">Suchen</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
