<div class="form-group row col offset-md-2 col-12 col-xs-3 col-md-2">
  <mat-form-field appearance="fill">
    <mat-label class="col col-2">Versandart</mat-label>
    <mat-select [(ngModel)]="interessen" name="interessen">
      <mat-option value=""></mat-option>
      <mat-option value="S">Selbstabholung</mat-option>
      <mat-option value="L">Versand</mat-option>
      <mat-option value="R">Out of Stock</mat-option>
    </mat-select>
  </mat-form-field>
</div>
